<h1>Welcome!</h1>
<h3>Ready for the Quiz?</h3>
<button type="button" id="quiz-start-btn" onclick="startQuiz()">Start</button>
<div id="quiz-section" style="display: none">
  <% @questions.each_with_index do |question, index| %>
    <div>
      <div>
        <span><%= index+1 %>. </span>
        <span><%= question.description %></span>
      </div>
      <div>
        <button type="button" class="answer-btn" id="answer-btn-<%= index%>" onclick="showAnswer(<%= index%>)">Click to view Answer</button>
        <div id="answer-<%= index%>" style="display: none"><%= question.answer %></div>
      </div>
    </div>
  <% end %>
</div>
