<div class="my-5">
  <h3>Welcome!</h3>
  <h5>Ready for the Quiz?</h5>
</div>
<div class="mb-2">
  <button type="button" id="quiz-start-btn" class="btn btn-primary" onclick="startQuiz()">Start</button>
</div>
<div id="quiz-section" class="mb-2" style="display: none">
  <% @questions.each_with_index do |question, index| %>
    <div class="card bg-light mb-2" style="width: 70rem">
      <div class="card-body">
        <h5 class="card-title">
          <%=  "#{index+1}. " + "#{question.description}"%>
        </h5>
        <div class="card-text">
          <button type="button" class="answer-btn btn btn-success btn-sm" id="answer-btn-<%= index%>" onclick="showAnswer(<%= index%>)">Click to view Answer</button>
          <p id="answer-<%= index%>" style="display: none">Answer: <%= question.answer %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
